@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
.App{
 background: #f1f1f1;
}
html,body{
    height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.main-container {
    display: flex;
}

main {
    width: calc(100% - 280px);
    margin: 20px 20px 20px 260px;
    background: #fff;
    padding: 20px;
    height: calc(100vh - 108px);
    overflow: hidden;
}
.transactions-list {
    height: 100%;
    overflow: auto;
}